############################
# ENV / SECRETS
############################
.env
.env.*
!.env.example

############################
# NODE / BACKEND
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

############################
# BUILD OUTPUTS
############################
# React
client/build/
client/dist/

# Server
dist/
build/

############################
# CACHE
############################
.cache/
.npm/
.eslintcache

############################
# TESTING
############################
coverage/

############################
# OS FILES
############################
.DS_Store
Thumbs.db

############################
# EDITORS / IDEs
############################
.vscode/
!.vscode/settings.json
!.vscode/extensions.json

.idea/
*.iml

############################
# DATABASE
############################
*.sqlite
*.db
*.dump

############################
# MISC
############################
*.swp
*.swo
*.bak
*.tmp
